@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Common style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #3F87F5;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    border: none;
    border-radius: 20px;

}

.btn {
    background-color: #fff;
    color: var(--primaryColor);
    padding: 8px 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.btn:hover {
    color: var(--primaryColor);
}

.section-title {
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
}

/* Header Section Style */
nav li a {
    font-size: 16px;
    font-weight: 500;
}

nav ul li:hover a {
    color: #f81f01 !important;
}

.hero-section {
    height: 550px;
}

.slider-img {
    height: 100%;
}

.slide-cap {
    margin-bottom: 80px;
}

.slide-cap h1 {
    font-size: 40px;
    font-weight: 600;
}

.slide-cap p {
    font-size: 16px;
    font-weight: 300;
}

/* Pricing Table Section Style */


.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.featured {
    background-image: linear-gradient(145deg, #f81f01 0%, #ee076e 100%);
    color: #fff;
    margin-top: -3.1rem;

}

.featured-btn {
    background-color: #fff;
    border-radius: 30px;
    color: #f81f01;
}

.featured-btn a {
    color: #f81f01;
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 18px;
}

.pricing ul li {
    margin-bottom: 14px;
}

.pricing .text-muted {
    opacity: .9;
}

.badge-hot {
    color: #fff;
    background-color: #3F87F5;
    font-size: 18px;
    font-weight: 800;
    left: 90%;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    background-color: #FEF5FA;
}

.pricing .btn:hover {
    background-color: #fff;
}

.card-body p {
    font-size: 15px;
}

/* Faq Section Style */

.faq-right img {
    width: 100%;
}

.accordion-button:not(.collapsed) {
    color: #0B0D17;
}


/* Booking Section style */
.booking-section {
    position: relative;
    height: 100vh;
}

.booking-section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

#booking {
    background-image: url(images/background.png);
    background-size: cover;
    background-position: right top;
}

#booking::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(47, 103, 177, 0.6);
}

.booking-form {
    background-color: #fff;
    padding: 50px 20px;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.booking-form .form-control {
    background-color: #ebecee;
    border-radius: 4px;
    border: none;
    height: 40px;
    box-shadow: none;
    color: #3e485c;
    font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
    color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
    color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
    color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
    color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
    appearance: none;
}

.booking-form select.form-control+.select-arrow {
    position: absolute;
    right: 0px;
    bottom: 4px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(62, 72, 92, 0.3);
    font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
    content: '\279C';
    display: block;
    transform: rotate(90deg);
}

.booking-form .form-label {
    display: inline-block;
    color: #3e485c;
    font-weight: 700;
    margin-bottom: 6px;
    margin-left: 7px;
}

.booking-form .submit-btn {
    display: inline-block;
    color: #fff;
    background-color: #1e62d8;
    font-weight: 700;
    padding: 14px 30px;
    border-radius: 4px;
    border: none;
    transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
    opacity: 0.9;
}

/* Footer Section Style */
.footer-section {
    height: 200px;
    background-color: #0B0D17;
}

.footer-right {
    text-align: end;
}

.footer-right h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.footer-right img {
    width: 25%;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Responsive Style */

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -3rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
        opacity: 1;
    }
}

@media only screen and (max-width: 992px) {}